<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Multiplication Program</title>
</head>
<body ng-app>

    <h3>Write a simple program for multiplication</h3>

    <input type="text" ng-model="num1" placeholder="Enter Num 1"/>
    x
    <input type="text" ng-model="num2" placeholder="Enter Num 2"/>
    =
    <span>{{ num1*num2 }}</span>

</body>
</html>

